<mat-form-field>
  <mat-select placeholder="After Handler Types" name="afterhandlerType" [(ngModel)]="scenario.afterHandlers.type">
    <mat-option *ngFor="let afterhandlerType of Predefined.AfterHandler.types" [value]="afterhandlerType.value" (click)="addAfterhandlerType(scenario.afterHandlers.type)" >
      {{ afterhandlerType.display }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-mini-fab class="add-afterhandlerType">
  <mat-icon (click)="addAfterhandlerType(scenario.afterHandlers.type)">+</mat-icon>
</button>
<br>