body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-sidenav-content {
  margin-left: 200px !important;
}

mat-sidenav {
  width: 200px;

  mat-icon {
    //padding-right: 20px !important;
  }

  &.mat-sidenav-closed {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    min-width: 64px !important;
    width: 64px !important;

    &~ /deep/.mat-sidenav-content {
      margin-left: 64px !important;
    }
  }
}

html, body, mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}
