<form [formGroup]="scenarioFormGroup" #scenarioForm="ngForm">
  <div class="dialog-header">
    <h1 mat-dialog-title>Scenario</h1>
  </div>

  <mat-dialog-content class="dialog-content">
    <mat-card class="summary-card mat-elevation-z4">

      <mat-card-header>
        <mat-card-title>
          Scenario Summary
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="content-title">Scenario:</p>
        <p class="content-value" matTooltip="{{scenario.name}}">{{truncated(scenario.name) || '-'}}</p>
        <p class="content-title">Configuration:</p>
        <p class="content-value">{{scenario.configuration.name || '-'}}</p>
      </mat-card-content>

    </mat-card>

    <mat-tab-group>

      <mat-tab label="Scenario">
        <div class="tab-content">

          <div>
            <mat-form-field class="field-long">
              <input matInput placeholder="Scenario Name" name="scenarioName" [(ngModel)]="scenario.name" formControlName="scenarioName"
                required>
              <mat-error *ngIf="scenarioName.invalid && scenarioName.errors.required">You must enter a name of scenario</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="field-long">
              <input matInput placeholder="Description" name="scenarioDescription" [(ngModel)]="scenario.description" formControlName="scenarioDescription"
                required>
              <mat-error *ngIf="scenarioDescription.invalid && scenarioDescription.errors.required">You must enter a description of scenario</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput placeholder="Pending timeout" type="number" name="pendingTimeout" [(ngModel)]="scenario.pendingTimeout" formControlName="pendingTimeout"
                required>
              <mat-error *ngIf="pendingTimeout.invalid && pendingTimeout.errors.required">You must enter pending timeout</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput placeholder="Running timeout" type="number" name="runningTimeout" [(ngModel)]="scenario.runningTimeout" formControlName="runningTimeout"
                required>
              <mat-error *ngIf="runningTimeout.invalid && runningTimeout.errors.required">You must enter running timeout</mat-error>
            </mat-form-field>
          </div>
        </div>

        <p>
          <b>Schedule:</b>
        </p>

        <mat-form-field>
          <input matInput placeholder="schedule" name="schedule" [(ngModel)]="scenario.schedule" formControlName="schedule">
          <mat-error *ngIf="schedule.errors && schedule.errors.invalidCron">Invalid Cron pattern</mat-error>
        </mat-form-field>

        <!-- Todo: assistant schedule
        <button (click)="onCustom()">Custom</button>
        <button (click)="onAssistant()">Assistant</button>

        <div *ngIf="assistant">
          <div class="schedule">Every: </div>
          <mat-form-field class="schedule">
            <mat-select [(ngModel)]="scenario.schedule" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let minute of minutes" [value]="minute.value">
                {{ minute.display }}
              </mat-option>
            </mat-select>
          </mat-form-field> Minutes
        </div> -->

      </mat-tab>

      <mat-tab label="Configuration">
        <div class="tab-content">

          <div>
            <mat-form-field class="field-long">
              <input matInput placeholder="Configuration name" [ngModelOptions]="{standalone:true}" [(ngModel)]="scenario.configuration.name">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-select placeholder="Target mode" name="configTargetMode" [ngModelOptions]="{standalone:true}" [(ngModel)]="scenario.configuration.targetMode">
                <mat-option *ngFor="let targetMode of predefined.Configuration.targetModes" [value]="targetMode.value">
                  {{ targetMode.display }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-select placeholder="Run mode" name="configRunMode" [ngModelOptions]="{standalone:true}" [(ngModel)]="scenario.configuration.runMode">
                <mat-option *ngFor="let runMode of predefined.Configuration.runModes" [value]="runMode.value">
                  {{ runMode.display }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-select placeholder="Types" name="configType" [ngModelOptions]="{standalone:true}" [(ngModel)]="scenario.configuration.type">
                <mat-option *ngFor="let type of predefined.Configuration.types" [value]="type.value">
                  {{ type.display }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <cta-properties-configuration #configProps [props]="scenario.configuration.properties"></cta-properties-configuration>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="Test Suite">
        <div class="tab-content">
          <cta-scenario-testsuite [(testSuite)]="testSuite"></cta-scenario-testsuite>
        </div>
      </mat-tab>

      <mat-tab label="After Handlers">
        <div class="tab-content">

          <div>
            <mat-form-field>
              <input matInput placeholder="After Handler Type" value="email" readonly="true" name="afterhandlerType">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="field-long">
              <input matInput placeholder="After Handler Name" name="afterhandlerName" [(ngModel)]="scenario.afterHandlers[0].name" formControlName="afterhandlerName"
                required>
              <mat-error *ngIf="afterhandlerName.invalid && afterhandlerName.errors.required">You must enter an name of afterhandler</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-checkbox name="afterhandlerEnable" [ngModelOptions]="{standalone:true}" [(ngModel)]="this.scenario.afterHandlers[0].enabled">Enable</mat-checkbox>
          </div>

          <div>
            <p>
              <b>Properties:</b>
            </p>

            <div>
              <mat-form-field class="field-long">
                <textarea matTooltip="Example: user1@thomsonreuters.com;user2@thomsonreuters.com;user3@thomsonreuters.com;" matInput placeholder="Input email"
                  name="emails" [(ngModel)]="scenario.afterHandlers[0].properties.emails" formControlName="afterhandlerEmails"
                  required></textarea>
                <mat-error *ngIf="afterhandlerEmails.invalid && afterhandlerEmails.errors.required">You must enter an email</mat-error>
              </mat-form-field>
            </div>

          </div>
        </div>

      </mat-tab>

    </mat-tab-group>


  </mat-dialog-content>

  <mat-dialog-actions [attr.align]="'end'">
    <button mat-button (click)="onSave(configProps)" type="submit" [disabled]="scenarioFormGroup.invalid">Save</button>
    <button mat-button (click)="onReset()">Reset</button>
    <button mat-button (click)="onClose(configProps)">Close</button>
  </mat-dialog-actions>
</form>